# Ansible Managed

[Unit]
Description=Voctomix startup commands
After=videoteam-voctocore.service
Requires=videoteam-voctocore.service

[Service]
Type=simple
User={{ user_name }}
ExecStartPre=/usr/bin/sleep 10
ExecStart=/home/videoteam/voctomix-outcasts/voctocore-cmds.py -c "set_video_a Grabber" -c "set_composite_mode picture_in_picture"
Nice=10

[Install]
WantedBy=default.target
