# Ansible Managed

[Unit]
Description=Voctomix core Daemon

[Service]
Type=exec
User={{ user_name }}
ExecStart=/usr/bin/voctocore -v
Restart=always
RestartSec=1s
Nice=0

[Install]
WantedBy=default.target
