# Ansible Managed

[Unit]
Description=Voctomix startup commands
After=videoteam-voctocore.service
Requires=videoteam-voctocore.service

[Service]
Type=simple
User={{ user_name }}
ExecStartPre=/usr/bin/sleep 10
ExecStart=/usr/local/bin/videoteam-voctocore-cmds.py
Nice=10

[Install]
WantedBy=default.target
