# lifted from cm/bundlewrap/bundles/voctocore/files/voctomix2-voctocore.service
# dest: /usr/local/lib/systemd/system/voctomix2-voctocore.service

[Unit]
Description=ccc voctomix core
After=network.target
{% if voctomix.programoutput.videosink %}
Requires=display-manager.service
Requires=graphical.target
{% endif %}

[Service]
Type=notify

Restart=always
RestartSec=2s
StartLimitInterval=0

User={{ user_name }}
Group={{ user_name }}

Environment=DISPLAY=:0
# Environment=WAYLAND_DISPLAY=wayland-0
# Environment=PIPEWIRE_DEBUG=3,pw.conf:5

Nice=0

{% for pre in  ExecStartPres %}
ExecStartPre=/usr/bin/bash -c "until {{ pre }}; do sleep 1; done"
{% endfor %}
WorkingDirectory=/opt/voctomix2/release
ExecStart=/opt/voctomix2/release/voctocore/voctocore.py \
  -vv --ini-file /etc/voctomix/voctocore.ini

[Install]
WantedBy=default.target
