# Ansible Managed

[Unit]
Description=Voctomix startup commands
After=videoteam-voctocore.service
Requires=videoteam-voctocore.service

[Service]
Type=simple
User={{ user_name }}
ExecStartPre=/usr/bin/sleep 10
ExecStart=/home/videoteam/voctomix-outcasts/voctocore-cmds.py --delay 1 -f /etc/voctomix/vocto.cmds
Nice=10

[Install]
WantedBy=default.target
