# Ansible Managed

[Unit]
Description=Voctomix live stream encoder
After=videoteam-voctocore.service
Requires=videoteam-voctocore.service
StartLimitIntervalSec=0
Conflicts=xlogout.target

[Service]
Type=exec
User={{ user_name }}
ExecStart=/usr/local/bin/videoteam-stream
Restart=always
RestartSec=1s
Nice=10

[Install]
WantedBy=default.target
