# {{ ansible_managed }}

[Unit]
Description=Voctomix monitor video mix on local dispay
After=videoteam-voctocore.service
Requires=videoteam-voctocore.service
# StartLimitIntervalSec=0
# Conflicts=xlogout.target

[Service]
ExecStartPre=/usr/bin/sleep 4
ExecStart=/usr/local/bin/videoteam-local-monitor-video.sh 127.0.0.1
KillMode=mixed
KillSignal=SIGINT
Restart=always
RestartSec=1s

[Install]
WantedBy=default.target
