#!/bin/sh
# {{ ansible_managed }}
#
# Manual playback for recorded videos in case of trouble
#
# CLI parameters can be displayed by parsing `-h`.

usage () {
  echo ""
  echo "USAGE: "
  echo "  $0 -i path/to/videofile -p HH:MM:SS"
  echo "    -h show this help message"
  echo "    -i input video for playback"
  echo "    -p position, in HH:MM:SS format"
  echo ""
  exit 1
}

# CLI arguments comprehension
while getopts "i:p:h" opt; do
  case $opt in
    h) usage ;;
    i) VIDEO=$OPTARG ;;
    p) POSITION=$OPTARG ;;
    *)
      usage
    ;;
  esac
done

ffmpeg -y -nostdin \
	-ss "$POSITION" \
	-i "$VIDEO" \
	-ac 2 \
	-pix_fmt yuv420p \
	-c:v rawvideo \
	-c:a pcm_s16le \
	-f matroska \
	tcp://localhost:{{ voctomix.recordings_port }}
