network:
  version: 2
  renderer: networkd
  wifis:
    {{ wifi.dev }}:
      dhcp4: true
      access-points:
{% for ap in wifi.aps %}
        "{{ ap.ssid }}":
          password: "{{ ap.password }}"
{% endfor %}
