# /srv/tftp/grub/grub.cfg

timeout=5

GRUB_TERMINAL_OUTPUT=console
GRUB_GFXPAYLOAD_LINUX=text

insmod all_video

set gfxmode=auto
terminal_output gfxterm
set linux_gfx_mode=keep
export linux_gfx_mode

# get extra appends from dhcp
# allows per host config options
net_get_dhcp_option appends ${net_default_interface} 209 string
# spell hostname funny else it collides with, I guess hostname
net_get_dhcp_option hstnam ${net_default_interface} 12 string

tftp=${pxe_default_server}
# tftp=twist:8007

tasks="" # comes from boxes.cfg
# tasks="tasks=ubuntu-desktop"

# append="fbcon=font:TER16x32 --- auto=true url=${tftp} DEBCONF_DEBUG=5 hostname=${hstnam} domain= ${appends} ${tasks} interface=${net_default_mac} hw-detect/load_firmware=false rescue/enable=false"

append="fbcon=font:TER16x32 --- auto=true url=${tftp} DEBCONF_DEBUG=5 hostname=${hstnam} domain=me.net ${appends} ${tasks} hw-detect/load_firmware=true hostname=base lc2_url=http://${tftp}/scripts/lc2.sh"

# append="--- auto=true DEBCONF_DEBUG=5 hostname=?${hstnam} ${appends} ${tasks} interface=${net_default_mac} hw-detect/load_firmware=false rescue/enable=false domain=make.me time/zone=US/Central url=veyepar.NextDayVideo.com lc2_url=https://veyepar.NextDayVideo.com/scripts/lc2.sh partman-auto/disk=${disk} partman-auto/method=regular partman-auto/choose_recipe=atomic grub-installer/bootdev=default netconsole='@192.168.1.120/enp0s31f6,@192.168.1.191/'"

# defaul pxe item
# copy of same thing a few lines later
menuentry "trixie h:${hstnam} ${appends}" {
  linux /debian/trixie/amd64/linux ${append}
  initrd /debian/trixie/amd64/initrd.gz
}

menuentry "Boot hd0" {
  insmod biosdisk
  set root=hd0
  chainloader +1
}

menuentry "sid h:${hstnam} ${appends}" {
  linux /debian/sid/amd64/linux ${append}
  initrd /debian/sid/amd64/initrd.gz
}

menuentry "forky h:${hstnam} ${appends}" {
  linux /debian/forky/amd64/linux ${append}
  initrd /debian/forky/amd64/initrd.gz
}
menuentry "bookworm h:${hstnam} ${appends}" {
  linux /debian/bookworm/amd64/linux ${append}
  initrd /debian/bookworm/amd64/initrd.gz
}

menuentry "bullseye h:${hstnam} ${appends}" {
  linux /debian/bullseye/amd64/linux ${append}
  initrd /debian/bullseye/amd64/initrd.gz
}

menuentry "buster h:${hstnam} ${appends}" {
  linux /debian/buster/amd64/linux ${append}
  initrd /debian/buster/amd64/initrd.gz
}

menuentry "stretch h:${hstnam} ${appends}" {
  linux /debian/stretch/amd64/linux ${append}
  initrd /debian/stretch/amd64/initrd.gz


menuentry "sid h:${hstnam} ${appends}" {
  linux /debian/sid/amd64/linux ${append}
  initrd /debian/sid/amd64/initrd.gz
}

menuentry "hirsute h:${hstnam} ${appends}" {
  linux /ubuntu/hirsute/amd64/vmlinuz ${append}
  initrd /ubuntu/focal/amd64/initrd.gz
}

menuentry "groovy h:${hstnam} ${appends}" {
  linux /ubuntu/groovy/amd64/vmlinuz ${append}
  initrd /ubuntu/groovy/amd64/initrd
}

menuentry "focal h:${hstnam} ${appends}" {
  linux /ubuntu/focal/amd64/linux ${append}
  initrd /ubuntu/focal/amd64/initrd.gz
}

menuentry "eoan h:${hstnam} ${appends}" {
  linux /ubuntu/eoan/amd64/linux ${append}
  initrd /ubuntu/eoan/amd64/initrd.gz
}

menuentry "disco h:${hstnam} ${appends}" {
  linux /ubuntu/disco/amd64/linux ${append}
  initrd /ubuntu/disco/amd64/initrd.gz
}

menuentry "cosmic h:${hstnam} ${appends}" {
  linux /ubuntu/cosmic/amd64/linux ${append}
  initrd /ubuntu/cosmic/amd64/initrd.gz
}

menuentry "bionic h:${hstnam} ${appends}" {
  linux /ubuntu/bionic/amd64/linux ${append}
  initrd /ubuntu/bionic/amd64/initrd.gz
}

menuentry "bionic i386 h:${hstnam} ${appends}" {
  linux /ubuntu/bionic/i386/linux ${append}
  initrd /ubuntu/bionic/i386/initrd.gz
}

menuentry "trusty h:${hstnam} ${appends}" {
  linux /ubuntu/trusty/amd64/linux ${append}
  initrd /ubuntu/trusty/amd64/initrd.gz
}

menuentry "xenial h:${hstnam} ${appends}" {
  linux /ubuntu/xenial/amd64/linux ${append}
  initrd /ubuntu/xenial/amd64/initrd.gz
}

menuentry "zesty h:${hstnam} ${appends}" {
  linux /ubuntu/zesty/amd64/linux ${append}
  initrd /ubuntu/zesty/amd64/initrd.gz
}

menuentry "artful h:${hstnam} ${appends}" {
  linux /ubuntu/artful/amd64/linux ${append}
  initrd /ubuntu/artful/amd64/initrd.gz
}


menuentry "ipxe" {
   linux16 boot/ipxe/ipxe.lkrn
}

menuentry "sbm" {
   linux16 syslinux/memdisk
   initrd16 util/sbm/sbm.img
}

menuentry "exit" {
  exit
}

menuentry "reboot" {
  reboot
}

menuentry "clonezilla" {
  set gfxpayload=keep
  linux util/cz/exper/live/vmlinuz boot=live union=aufs ocs_live_run="ocs-live-general" ocs_live_extra_param=""  ocs_lang="" ocs_live_keymap="NONE" nolocales netboot=nfs nfsroot=${tftp}:/srv/tftp/util/cz/exper/ locales= keyboard-layouts=
  initrd util/cz/exper/live/initrd.img
}

  menuentry "memtest86+" {
  linux16 /util/memtest86+-5.01.bin.gz
}

  menuentry "tomsrtbt" {
  linux16 memdisk /util/tomsrtbt-2.0.103.tar.gz
}

