# late_command.cfg

playbook_repo="https://github.com/CarlFK/geebee"
playbook_branch="main"

inventory_repo="https://github.com/CarlFK/geebee"
inventory_branch="main"
inventory_repo_dir="inventory"

vault_pw=""
